{% extends 'base.html.twig' %}

{% block title %}certification{% endblock %}

{% block body %}

<div class="row flex-lg-row-reverse  g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ vich_uploader_asset(certification, 'imageFile') }}" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ certification.nom }}</h1>
        <p class="lead">{{ certification.description }}</p>
        <p class="card-text text-secondary small mb-2">{{ certification.matiere }}</p>
        <p class="card-text text-secondary small mb-2">{{ certification.enseignant }}</p>
        
      </div>
    </div>


{% endblock %}
